# The VCS to use.
VCS="git"

# Options passed to git commit when run by etckeeper.
GIT_COMMIT_OPTIONS=""

# The high-level package manager that's being used.
# (apt, pacman-g2, yum etc)
HIGHLEVEL_PACKAGE_MANAGER=apt

# The low-level package manager that's being used.
# (dpkg, rpm, pacman-g2, etc)
LOWLEVEL_PACKAGE_MANAGER=dpkg
