{% if direct_site %}
server {
    listen [::]:80;
    listen      80;
    server_name {{ ansible_fqdn }};
    return 301 https://{{ ansible_fqdn }}$request_uri;
}
{% endif %}

server {
  # Technically, for most browsers this is not needed anymore. This site is on
  # every major browser's HSTS preload list.
  listen [::]:80 default_server;
  listen      80 default_server;
  server_name {{ server_name }};
  return 301 https://{{ server_name }}$request_uri;
}
